{% extends "base.html" %}
{% load app_filters %}
{% block content %}
  <div class="text-center">
  <h1><center>{{ org.name|title }}</center></h1><hr />
  <p>{{ org.desc|mush_to_html }}</p><hr />
  <h1>Assets</h1>
  <ul class="list-inline">
  <li>Prestige: {{ org.assets.prestige }}</li>
  <li>Current Vault: {{ org.assets.vault }}</li>
  <li>Gross Income: {{ org.assets.income}}</li>
  <li>Costs: {{ org.assets.costs}}</li>
  <li>Net Income: {{ org.assets.net_income }}</li>
  <li>Economic Resources: {{ org.assets.economic }}</li>
  <li>Social Resources: {{ org.assets.social }}</li>
  <li>Military Resources: {{ org.assets.military }}</li>
  </ul>
  {% if holdings %}
  <hr />
  <h1>Land Holdings</h1>
  
  {% for domain in holdings %}
  <h2>{{ domain.name}}</h2>
  <p>Description: {{ domain.desc|mush_to_html}}</p>
  <ul class="list-inline text-left">
  <li>Mines: {{domain.num_mines}}</li>
  <li>Lumber: {{domain.num_lumber_yards}}</li>
  <li>Mills: {{domain.num_mills}}</li>
  <li>Housing: {{domain.num_housing}}</li>
  <li>Farms: {{domain.num_farms}}</li>
  <li>Unassigned Serfs: {{domain.unassigned_serfs}}</li>
  <li>Serfs working in mining: {{domain.mining_serfs}}</li>
  <li>Serfs working in lumber: {{domain.lumber_serfs}}</li>
  <li>Serfs working in farming: {{domain.farming_serfs}}</li>
  <li>Serfs working in mills: {{domain.mill_serfs}}</li>
  </ul>
  {% endfor %}
  {% endif %}
  </div>
{% endblock %}