{% extends "base.html" %}
{% load app_filters %}
{% block content %}
<div class="container">
	<h2>{{ board.key }}</h2>
    <div class="newsDate"><a href="{% url 'msgs:post_view_all' board_id=board.id %}">Read all posts</a></div>
    <ul>
    {% for post in posts %}
        <li><h2>{% if post.unread %}<b>{% endif %}
        <a href="{% url 'msgs:post_view' board_id=board.id post_id=post.id %}">{{ post.subject }}</a>
        {% if post.unread %}</b>{% endif %}
        </h2>
        <span class="newsDate">Posted by <b>{{ post.poster }}</b> on {{ post.date }}</span>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}