{% extends "base.html" %}
{% load app_filters %}
{% block content %}
<div class="container">
	<ul class="nav nav-pills">
		<li class={% if not read_is_active %}"active"{% endif %}><a data-toggle="pill" href="#unreadjournals">Unread Journals</a></li>
		{% if user.is_authenticated and user.db.char_ob %}
		<li class={% if read_is_active %}"active"{% endif %}><a data-toggle="pill" href="#readjournals">Read Journals</a></li>
		<li> <a data-toggle="pill" href="#writejournal">Write Journal Entry</a></li>
		{% endif %}
	</ul>
	<div class="tab-content">
		<div id="unreadjournals" class="tab-pane fade{% if not read_is_active %} in active{% endif %}">
		
		{% for obj in object_list %}
			<h2> Written By {{obj.senders.0}}{% if obj.private_msg %} in Black Journal{% endif %}</h2>
			<p class="newsDate">{{obj.db_date_sent}}</p>
			{% if obj.db_receivers_objects.all.0 %}
				<h2> Relationship Note on {{ obj.db_receivers_objects.all.0 }}</h2>
			{% endif %}
			<div class="well">{{obj.db_message|mush_to_html}}</div>
			{% if user.is_authenticated and user.db.char_ob %}
			<form action="." method="post">
			{% csrf_token %}
			<input type="hidden" value="{{obj.id}}" name="choice" />
			<button class="btn btn-success" type="submit" name="mark_one_read">Mark journal as read</button>
			</form>
			{% endif %}
			<hr />
		
		{% endfor %}
		{% if is_paginated %}
			<div class="pagination">
			<span class="step-links">
			<ul class="pagination nav navbar-nav">
				{% if page_obj.has_previous %}
					<li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
				{% endif %}

				{% for page in page_obj.paginator.page_range %}
					<li class="{% if page_obj.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
				{% endfor %}

				{% if page_obj.has_next %}
					<li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
				{% endif %}
			</ul>
			</span>
			</div>
		{% endif %}
		{% if user.is_authenticated and user.db.char_ob %}
		<form action="." method="post">
		{% csrf_token %}
		{% for obj in object_list %}
		<input type="hidden" value="{{obj.id}}" name="choices" />
		{% endfor %}
		<button class="btn btn-success" type="submit" name="mark_all_read">Mark all journals on this page as read</button>
		</form>
		{% endif %}
		
		</div> <!-- unread journals-->
		
		{% if user.is_authenticated and user.db.char_ob %}
		<div id="readjournals" class="tab-pane fade{% if read_is_active %} in active{% endif %}">
		{% for obj in read_journals %}
			<h2> Written By {{obj.senders.0}}</h2>
			<p class="newsDate">{{obj.db_date_sent}}</p>
			{% if obj.db_receivers_objects.all.0 %}
				<h2> Relationship Note on {{ obj.db_receivers_objects.all.0 }}</h2>
			{% endif %}
			<div class="well">{{obj.db_message|mush_to_html}}</div>
			<hr />
		{% endfor %}

			<div class="pagination">
			<span class="step-links">
			<ul class="pagination nav navbar-nav">
				{% if read_journals.has_previous %}
					<li><a href="?read_page={{ read_journals.previous_page_number }}">previous</a></li>
				{% endif %}

				{% for page in read_journals.paginator.page_range %}
					<li class="{% if read_journals.number == page  %}active{% endif %}"><a href="?read_page={{page }}">{{ page }}</a></li>
				{% endfor %}

				{% if read_journals.has_next %}
					<li><a href="?read_page={{ read_journals.next_page_number }}">next</a></li>
				{% endif %}
			</ul>
			</span>
			</div>
		</div> <!-- read journals-->
		
		<div id="writejournal" class="tab-pane fade">
		<form action="." method="post">
            {% csrf_token %}
			<table class="table-bordered">
            {{ write_journal_form.as_table }}
			</table>
            <br><button class="btn btn-success" type="submit" name="write_journal">Submit Journal Entry</button>
		</form>
		</div> <!-- write journals-->
		{% endif %}
	</div> <!--tab content-->
</div> <!--container-->
	
{% endblock %}