{% extends "base.html" %}

{% block header_ext %}
{% endblock %}


{% block content %}
{% load app_filters %}
<div class="container">
<div class="row">
<h3 class="text-center">{{story.name}}</h3>
<p>{{story.synopsis|mush_to_html}}</p>
</div>
{% for chapter in chapters %}
<div class="row">
<h1 class="text-center">Chapter {{chapter.name}}</h1>
<p>{{chapter.synopsis|mush_to_html}}</p>
{% with episodes=chapter.episodes.all %}
{% if episodes %}
<h2 class="text-center">Episodes</h2>
<ul class="list-inline text-center">
{% for episode in episodes %}
<li><a href="{% url 'character:episode' episode.id %}">{{ episode.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>
{% endfor %}
</div>
{% endblock %}
